spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/interview_tracker}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASS}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

app:
  jwt:
    secret: ${APP_JWT_SECRET:THIS_IS_A_32+_CHAR_SECRET_KEY_CHANGE_ME_12345}
    expiration-ms: 86400000
  mail:
    from: ${REMINDER_FROM_EMAIL}   # <-- IMPORTANT (see next)
server:
  address: 0.0.0.0
  port: 8080